PORT=4000
MONGO_URI=mongodb://localhost:27017/toor_dal_system
JWT_ACCESS_SECRET=dummy_access_secret_change_me
JWT_REFRESH_SECRET=dummy_refresh_secret_change_me
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d
